*{
    margin:0;
    
}
:root{
    --primary-color: #0b1221;
    --light-blue:rgb(195, 222, 233);
}
header img{
    width: 50px;

}
header{
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    color:white;
    position: sticky;
    z-index: 2;
}
header  div:nth-child(1){
    align-items: center;
}
header div:nth-child(1) h1{
    display: inline;
    font-size: xxx-large;
    padding: 2px 20px;
}
header div:nth-child(2){
color:#5bd7ff;
font-size: xx-large;
}
h3{
    margin:10px;
}
.main-container{
    /* display: flex; */
    /* justify-content: space-between; */
   
}
.project-type-container{
    /* flex-basis: 20%; */
    min-width:200px ;
    background-color: rgb(44, 46, 47);
    text-align: center;
    height: 90vh;
    position: absolute;
    font-family: sans-serif;
    font-weight:100;
   font-size:small;
   color: var(--light-blue);
   
}
.project-type-container h3 i{
    margin:2px 0.5em;
    cursor: pointer;
}
.main-section-container{
   position: absolute;
   left: 200px;
    right: 0;
    text-align: center;
    background: rgb(181,235,225);
    background: linear-gradient(108deg, rgba(181,235,225,1) 0%, rgba(172,182,229,1) 99%);
    height: 90vh;
 
}
.task-add {
  width: 90%;
  min-width: 350px;
  padding:15px;
  margin:10px auto;
 
  border-radius: 10px;
}
.task-add div{
 
}
.task-add label{
    display: inline-block;
    width: 100%;
    text-align: left;
}
.task-add input{
    width: 90%;
    padding:5px;
    font-size: medium;
    font-weight: 500;
    margin:10px auto;
    background-color: transparent;
    outline: none;
    border:transparent 1px solid;
    color: white;
   
}
.task-add input:focus{
    border-bottom: 1px solid rgb(117, 182, 190);
    color: var(--light-blue);

}
#date{
    color:var(--light-blue)
}
.task-add button{
  
  
}
.priority-container {
    display: flex;
   flex-direction: row;
}



.priority-container button{
    color:white;
    border:1px solid rgb(113, 106, 106);
    border-radius: 5px;
}


#high{
    background-color: red;
}
#medium{
    background-color: orange;
}
#low{
    background-color: green;
}
.task-add> button{
    background-color:rgb(18, 27, 105);
    border-radius: 30px;
    border:none;
    font-weight: 800;
    font-size: large;
    color:var(--light-blue);
    padding: 10px 50px;
    border: 1px gray solid;
}

  

#task-bar{
    
    width: 30%;
    margin:auto;
    border-radius: 30px;
    padding:10px;
    background-color: #0b1221ef;
    color: white;
    
}
.project{
    width: 30%;
    margin: 15rem auto;
    border-radius: 20px;
}
.main-project-container{
    padding: 2em;
  
}
.main-project-container input{
    width: 70%;
    font-size: xx-large;
    font-weight: 600;
    border: none;
    padding: 10px;
    outline: none;
    min-width: 255px;
}
.main-project-container i{
    position: absolute;
    right: 22px;
    top: 20px;
}
.main-project-container button{
    position: absolute;
    bottom: 2em;
    font-weight: 500;
    font-size:medium;
    padding: 10px 20px;
    color:whitesmoke;
    background-color: rgb(42, 42, 185);
    border-radius: 20px;


}
.project-info{
    margin: auto;
    width: 40%;
}
.project-tasks{
    /* display: flex;
    fle
    align-items: center;
    border:2px solid pink; */
}
.taskName{
    display: flex;
    flex-basis: 80%;
}
.project-tasks i{
    padding:5px 10px;
    font-size: 25px;
}
.project-show{
    min-height: 300px;
}
.project-name-container{
    border:gray 1px solid;
}
.project-name-container input{
    width: 90%;
    font-size: x-large;
    outline: none;
    border: none;
}

.project-name-container i{
    padding:10px;
}

.flex-container{
display: flex;
justify-content: space-around;
}
.added-task-container{
    flex-basis: 60%;
    margin: auto;

}
.task-box{
    display: flex
;

    justify-content: space-between;
    align-items: center;
}
.task-box h3{
    min-width: 300px;
    text-align: left;
    
}
.main-section-container>h1{
font-size: xxx-large;
font-family: "Barlow Condensed", sans-serif;
font-weight: 700;;
}
.added-task-container>div{
    border:1px solid green;
    margin:2em;
}

.editing i{
    font-size: 25px;
    padding: 5px 10px;
}
#project-container { 
    text-align: left !important;
    background-color: rgb(255, 0, 166);
}





/********************************************************/
.project-view-container{
  
    position: absolute;
    border: 2px solid yellow;
    background-color: pink;
    width: 50%;
    min-width: 300px;
    height: 400px;
    left: 20em;
    top: 8em;
    display: none;
}
.task-view{
    display: flex;
    justify-content: space-around;
}
.icons i{
    padding:10px;
    font-size: 20px;
}